* {
	box-sizing: border-box;
}

body {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 1.5rem;
}

.accordion__icon {
	width: 1rem;
}

.container__accordion {
	width: 50%;
	margin: 1.5rem auto;
	background-color: #99d5f8;
}

.accordion__input {
	display: none;
}

.accordion__name {
	display: flex;
	justify-content: center;
	font-size: 2.3rem;
	font-weight: 700;
}

.accordion__name-title {
	margin: 0.5rem 0 0 0
}

.accordion__card-delimiter {
	display: flex;
	justify-content: center;
}

.accordian__delimiter-line {
	width: 85%;
	border: .05rem solid black;
	margin: 0.2rem 0;
}

.accordion__title {
	display: flex;
	justify-content: space-between;
	margin: 0.5rem 5rem;
}
